.order_main_contents{
    width:100%;
    padding-top:120px;/*topnavi*/
    padding-bottom:50px;/*bottomnavi*/
    height:auto;
    position:relative;
}
.mypage_menu_item{
    border-bottom: 1px solid #f6f6f6;
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    cursor: pointer;
    gap:10px;
    max-height:66px;
}

.mypage_menu_item p{
    font-size: 1.6rem;
    font-weight: 600;
    color: #333;
}

.mypage_menu_item > div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
}

.mypage_menu_item > div > div:first-child{
    font-size: 1.3rem;
    font-weight: 400;
    color: #777;
    position: relative;
}
    .mypage_menu_item > div > div:first-child::before{
        content: '';
        position: absolute;
        top: 3px;
        left:-17px;
        width:15px;
        height:15px;
        background-image: url('/2025/images/icon/Show.png');
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.4;
    }

.mypage_menu_item > div > div:last-child{
    font-size: 1.4rem;
    font-weight: 500;
    color: #555;
}

.pagination{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.pagination button{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 2px 6px;
    margin: 0 2px;
    cursor: pointer;
    font-size: 1.4rem;
    color: #555;
    border-radius: 5px;
}

.pagination button.active{
    background-color: #ee3338;
    color: #fff;
    border-color: #ee3338;
}

.pagination button.arrow-btn{
    padding: 2px 4px;
}

.pagination button.arrow-btn img {
    width: 16px;
    height: auto;
    vertical-align: middle;
}

.pagination button.arrow-btn.disabled{
    background-color: #f8f8f8;
    color: #bbb;
    border-color: #eee;
    cursor: not-allowed;
}

.pagination button.arrow-btn.disabled img{
    opacity: 0.3;
}

.pagination button.arrow-btn-edge{
    display: flex; /* 두 개의 아이콘을 나란히 정렬 */
    align-items: center;
    justify-content: center;
    padding: 2px 4px;
}

.pagination button.arrow-btn-edge img {
    width: 16px; /* 이미지 크기 설정 */
    height: auto;
}

.pagination button.arrow-btn-edge.disabled{
    background-color: #f8f8f8;
    color: #bbb;
    border-color: #eee;
    cursor: not-allowed;
}
.pagination button.arrow-btn-edge.disabled img{
    opacity: 0.3;
}


.dubble_arrow_left{
    margin-right:-10px;
}
.dubble_arrow_right{
    margin-left:-10px;
}