.altpay_card{
    width:100%;
    height:170px;
    background-color:rgb(255, 243, 220);
    padding:20px 20px;
    margin:0;
    border-radius:15px;
    filter:drop-shadow(2px 2px 2px rgba(42, 40, 68, 0.1));
    font-size:1.6rem;
}
    .card_title_box{
        display:flex;
        justify-content:space-between;
        padding-right:5px;
        padding-bottom:15px;
    }
        .card_title_box img{
            height:24px;
            width:auto;
        }
        .delete_btn{
            position:relative;
        }
            .delete_btn:after{
                content:'';
                position:absolute;
                width:1px;
                height:17px;
                background-color:#333;
                transform:rotate(45deg);
                top:0;
                left:0;
                border-radius:5px;
            }
            .delete_btn:before{
                content:'';
                position:absolute;
                width:17px;
                height:1px;
                background-color:#333;
                transform:rotate(45deg);
                top:8px;
                left:-8px;
                border-radius:5px;
            }
        .card_info_01{
            font-weight:600;
            color:#555;
        }
        .card_info_02{
            display:flex;

            gap:10px;
        }
        .credit_number{
            font-weight:400;
            color:#555;
        }
        .card_m_select{
            background-color:rgba(255,255,255,0);
            padding:3px 5px;
            line-height:18px;
            border:1px solid rgba(0, 0, 0, 0.2);
            border-radius:5px;
            font-size:1.4rem;
            margin-top:10px;
            margin-bottom:5px;
            color:#333;
        }

    .altpay_add{
        width:100%;
        height:170px;
        padding:20px 20px;
        background-color:#ee333909;
        margin:0;
        border-radius:15px;
        border:1px solid #ee3338;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        opacity:0.7;
    }
        .add_text{
            font-weight:600;
            color:#ee3338;
            font-size:2.0rem;
            text-align:center;
        }
            .circle_addbtn{
                border-radius: 50px;
                background-color:#ee3338;
                color:#fff;
                text-align:center;
                width:24px;
                height:24px;
                padding-left:1px;
                line-height:22px;
                font-size:2.4rem;
                font-weight:600;
            }

/* Reset for iframe body */
body {
    margin: 0;
    padding: 0;
}

/* Swiper Slide styles */
.swiper-container.altpay-swiper .swiper-slide {
    width: 80%; /* Responsive width */
    max-width: 340px; /* Max width for the slide */
    min-width: 300px; /* Min width for the slide */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    
}
/* Ensure only one slide is fully visible, and others are partially visible */
.swiper-container.altpay-swiper .swiper-slide:first-child {
    
}

.next_card{
    position:absolute;
    top:25px;
    right:0;
    width:14px;
    height:120px;
    z-index: 10;
    opacity:0.8;
    background-color:rgba(0, 0, 0,0.15);
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content:center;
}
    .next_card img{
        width:16px;
        opacity:0.5;
    }

.prev_card{
    position:absolute;
    top:25px;
    left:0;
    width:13px;
    height:120px;
    z-index: 10;
    opacity:0.8;
    background-color:rgba(0, 0, 0,0.15);
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content:center;
}
    .prev_card img{
        width:16px;
        opacity:0.7;
    }

/* Disabled state opacity for custom navigation buttons */
.swiper-container.altpay-swiper .prev_card.swiper-button-disabled,
.swiper-container.altpay-swiper .next_card.swiper-button-disabled {
    opacity: 0.1; /* Lower opacity for disabled state */
    cursor: auto;
    pointer-events: none;
}
.swiper-container.altpay-swiper .prev_card.swiper-button-disabled img,
.swiper-container.altpay-swiper .next_card.swiper-button-disabled img{
    opacity:0.5;
}