
.detail_main_contents{
    width:100%;
    padding-top:120px;/*topnavi����*/
    padding-bottom:50px;/*bottomnavi����*/
    height:auto;
    position:relative;
}
    .detail_main_contents:after{
        content:'';
        position:absolute;
        top:20px;
        left:0;
        width:100%;
        height:100px;
        background: linear-gradient(to right, #e65880 0%, #ee3338 30%, #ffbc98 100%);
    }

.category_navi{
    position:relative;
    width:100vw;
    height:42px;
    background-color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid #f6f6f6;
}
    .back_btn{
        position:absolute;
        top:50%;
        left:15px;
        transform:translateY(-50%);
        width:22px;
        height:22px;
        cursor:pointer;
    }
    .back_btn::before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:10px;
        height:10px;
        border-top:1px solid #999;
        border-left:1px solid #999;
        transform: translate(-75%, -50%) rotate(-45deg);
    }
    .category_navi p{
        color:#555;
        font-weight:600;
    }

/***  �� *******************************/


/*** �����ϱ� ��ư �� *******************************/
.buy_navi{
    position:fixed;
    bottom:0;
    left:0;
    z-index: 99;
    height:50px;
    width:100vw;
    display:flex;
    align-items:center;
}
    .buy_navi:before{
        content:'';
        position:absolute;
        top:-14px;
        left:0;
        width:100vw;
        height:15px;
        z-index: -1;
        backdrop-filter: blur(10px);
        mask-image: linear-gradient(to top, black 10%, transparent 100%);
        -webkit-mask-image: linear-gradient(to top, black 10%, transparent 100%);
    }
    .buy_navi_btn{
        font-size:1.8rem;
        padding-bottom:4px;
        font-weight:700;
        text-align:center;
        width:50%;
        height:100%;
        display:flex;
        align-items: center;
        justify-content:center;
    }
    .add_cart{
        color:#ee3338;
        background-color:#fff;
    }
    .buy_now{
        color:#fff;
        background-color:#ee3338;
    }


/*** ��ٱ���? ���� *******************************/
.pr_buy_info{
    padding:0 20px 0 20px;
    width:100%;
    background-color:#ffffff;
    border-bottom:1px solid #f9f9f9;
}
    
    .buy_info_con_01{
    }

    .info_checkline{
        padding-top:10px;
        padding-bottom:5px;
        display:flex;
        justify-content:space-between;
    }
        .delete_btn{
            position: relative;
            top: 0; /* Adjust as needed */
            right: 0px; /* Adjust as needed */
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        .delete_btn::before,
        .delete_btn::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 16px; /* Length of the lines */
            height: 1px; /* Thickness of the lines */
            background-color: #adadad; /* Color of the X */
        }
        .delete_btn::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }
        .delete_btn::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        .name_box{
            position:relative;
            display:flex;
            flex-direction: column;
            width:100%;
            height:auto;
            font-size:1.6rem;
            font-weight:400;
            color:#555;
        }
            .category_small{
                line-height:16px;
            }
            .product_name{
                line-height:20px;
            }
            .product_option{
                line-height:20px;
                font-size:1.4rem;
                color:#999;
            }
        .info_box{
            display:flex;
            align-items: center;
            width:100%;
            height:auto;
            justify-content:space-between;
            padding-bottom:20px;
            border-bottom:1px solid #f6f6f6;
        }
        .buy_info_con_02{
            display:flex;
            align-items: center;
            width:100%;
            height:auto;
            justify-content:space-evenly;
            border-bottom:1px solid #f6f6f6;
            padding-top:15px;
            padding-bottom:15px;
        }
            .pr_images{
                width:40%;
                max-width:150px;
                height:auto;
                text-align:center;
            }
                .pr_images img{
                    display:block;
                    width:90%;
                    height:auto;
                    margin:0 auto;
                }
            .pr_name{
                min-width:190px;
                position:relative;
            }
            .pr_name_02{
                width:100%;
                padding:0 10px;
                position:relative;
            }
                .info_conbox{
                    display:flex;
                    justify-content:left;
                    font-size:1.6rem;
                    line-height:20px;
                }
                .info_conbox_02{
                    display:flex;
                    justify-content:space-between;
                    font-size:1.8rem;
                    line-height:24px;
                }
                .info_conbox_opt{
                    display:flex;
                    justify-content:left;
                    font-size:1.6rem;
                    line-height:20px;
                    padding-top:5px;
                }
                    .con_left{
                        width:60px;
                        font-weight:600;
                        color:#555;
                    }
                    .con_right{
                        max-width:130px;
                        padding-left:10px;
                        color:#333;
                    }
                    .con_left_02{
                        width:100px;
                        font-weight:600;
                        color:#ee3338;
                    }
                    .con_right_02{
                        max-width:130px;
                        font-weight:700;
                        padding-left:10px;
                        color:#ee3338;
                    }
                        .number_box{
                            padding-left:10px;
                            display:flex;
                            justify-content:space-between;
                            font-size:1.6rem;
                        }
                            .minus_btn{
                                width:24px;
                                height:24px;
                                line-height:22px;
                                text-align:center;
                                box-shadow: inset 0 0 0 1px #e9e9e9;
                                border-radius:5px;
                                cursor:pointer;
                            }
                            .quantity_number{
                                padding:0 10px;
                                line-height:22px;
                                text-align:center;
                            }
                            .plus_btn{
                                line-height:22px;
                                width:24px;
                                height:24px;
                                text-align:center;
                                box-shadow: inset 0 0 0 1px #e9e9e9;
                                border-radius:5px;
                                cursor:pointer;
                            }

                .info_congap{
                    height:10px;
                }

            .pr_size{
                position:relative;
            }
                .size_btn{
                    display:flex;
                    justify-content:right;
                    border-radius:5px;
                    box-shadow: inset 0 0 0 1px #e9e9e9;
                    padding:2px 8px 2px 5px;
                    cursor:pointer;
                    width:101px;
                }
                    .size_text{
                        font-size:1.4rem;
                        line-height:20px;
                        color:#999;
                    }
                    .size_point{
                        font-size:1rem;
                        line-height:20px;
                        color:#999;
                    }
                .size_dropdown{
                    position:absolute;
                    width:100%;
                    height:0;
                    top:0;
                    left:0;
                    background-color:#fff;
                    text-align:right;
                    box-shadow:inset 0 0 0 1px #e9e9e9;
                    border-radius:5px;
                    overflow:scroll;
                    max-height:0;
                    transition: max-height 0.3s ease-in-out;
                }
                    .size_option{
                        border-bottom:1px solid #f7f7f7;
                        padding:0 5px;
                        color:#999;
                        font-size:1.4rem;
                    }
                        .size_option:hover{
                            background-color:#ee3338;
                            color:#fff;
                        }
                    .size_pick{
                        text-align:center;
                        color:#777;
                        font-weight:600;
                        border-bottom:1px solid #f7f7f7;
                    }
                .pr_size.active .size_dropdown {
                    height:auto;
                    max-height:140px;
                    padding:5px 0;
                    padding-right:4px;
                    font-size:1.4rem;
                }




/*** ���? ���� �� *******************************/
.del_info_con{

}



/*** �ִϸ��̼� ���� �� *******************************/

