/****기본 ↓ **************************************/

@import url("https://cdn.jsdelivr.net/gh/poposnail61/min-sans@main/web/css/minsans-dynamic-subset.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



*,*::before,*::after{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

html{
    font-family: 'min-sans', 'Noto Sans KR', sans-serif;
    font-size:62.5%;  /*기본 폰트사이즈(16px)의 62.5%인 10px = 1rem 으로 사용할 수 있다.*/
}

.wrap{
    font-family: 'min-sans', 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #fcfcfc;
    color: #121212;
    font-size:1.6rem;
}

/* 전체 스크롤 */
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: transparent; /* 트랙 투명 */
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.0); /* 완전 투명 */
}
::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2); /* hover 시만 살짝 보이게 */
}

/* 옵션 셀렉트 박스 스크롤 */
.size_dropdown::-webkit-scrollbar {
    width: 3px;
}
.size_dropdown::-webkit-scrollbar-track {
    background: #fff;
}
.size_dropdown::-webkit-scrollbar-thumb {
    background: #d6d6d6;
}
.size_dropdown::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
}


.closeeyes{
    display:none !important;
}

/****글로벌 체크박스 ↓ **************************************/
[type="checkbox"] {
    accent-color:#ee3338;
}

/****글로벌 인풋텍스트 박스 ↓ **************************************/
.input_txt_style{
    box-shadow:inset 0 0 1px 0 #999;
    font-size:1.4rem;
    padding:5px 10px;
    color:#555;
}



/****글로벌 텍스트 스타일 ↓ **************************************/

.bold_t{
    font-weight:500 !important;
    color:#121212;
}





