/* 기본 설정 */

@import url("https://cdn.jsdelivr.net/gh/poposnail61/min-sans@main/web/css/minsans-dynamic-subset.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');



*,*::before,*::after{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    list-style:none;
}

a{
    text-decoration:none;
    color:inherit;
}

html{
    font-family: 'min-sans', 'Noto Sans KR', sans-serif;
    font-size:62.5%;  /* 기본 폰트사이즈(16px)의 62.5%로 10px = 1rem으로 설정할 수 있다. */
}

.wrap{
    font-family: 'min-sans', 'Noto Sans KR', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    color: #121212;
    font-size:1.6rem;
}


/*back버튼*/

.category_navi{
    position:relative;
    width:100%;
    height:42px;
    background-color:#ffffff;
    display:flex;
    align-items:center;
    justify-content:center;
    border-bottom:1px solid #eee;
}
    .back_btn{
        position:absolute;
        top:50%;
        left:15px;
        transform:translateY(-50%);
        width:22px;
        height:22px;
        cursor:pointer;
    }
    .back_btn::before{
        content:'';
        position:absolute;
        top:50%;
        left:50%;
        width:10px;
        height:10px;
        border-top:1px solid #999;
        border-left:1px solid #999;
        transform: translate(-75%, -50%) rotate(-45deg);
    }
    .category_navi p{
        color:#555;
        font-weight:600;
    }


/* 전체 스크롤바 */
::-webkit-scrollbar {
    width: 1px;
}
::-webkit-scrollbar-track {
    background: transparent; /* 트랙 색상 */
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.0); /* 슬라이더 색상 */
}
::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.2); /* hover 시 살짝 보이게 */
}


.modal_scroll::-webkit-scrollbar {
    width:4px !important;
}
.modal_scroll::-webkit-scrollbar-track {
    background: transparent; /* 트랙 색상 */
}
.modal_scroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* 슬라이더 색상 */
}
.modal_scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.2); /* hover 시 살짝 보이게 */
}

/* 옵션 셀렉트 박스 */
.size_dropdown::-webkit-scrollbar {width: 3px;}
.size_dropdown::-webkit-scrollbar-track {background: #fff;}
.size_dropdown::-webkit-scrollbar-thumb {background: #d6d6d6;}
.size_dropdown::-webkit-scrollbar-thumb:hover {background: #b9b9b9;}

.gl_select_dropdown::-webkit-scrollbar {width: 3px;}
.gl_select_dropdown::-webkit-scrollbar-track {background: #fff;}
.gl_select_dropdown::-webkit-scrollbar-thumb {background: #d6d6d6;}
.gl_select_dropdown::-webkit-scrollbar-thumb:hover {background: #b9b9b9;}

.gl_select{
    position:relative;
}
    .gl_select_btn{
        display:flex;
        justify-content:space-between;
        border-radius:5px;
        box-shadow: inset 0 0 0 1px #e9e9e9;
        cursor:pointer;
        align-items:center;
    }
        .gl_select_text{
            font-size:1.4rem;
            color:#c9c9c9;
        }
        .gl_select_text.selected-option {
            color: #555; /* Darker color for selected option */
            font-weight: 500; /* Make it a bit bolder */
        }
        .gl_select_point{
            font-size:0.8rem;
            color:#888;
        }
    .gl_select_dropdown{
        position:absolute;
        width:100%;
        height:0;
        top:0;
        left:0;
        background-color:#fff;
        text-align:right;
        border-radius:5px;
        overflow:scroll;
        max-height:0;
        transition: max-height 0.3s ease-in-out;
        z-index: 99;
    }
        .gl_select_option{
            text-align:left;
            border-bottom:1px solid #f7f7f7;
            padding:4px 5px;
            color:#999;
            font-size:1.4rem;
        }
            .gl_select_option:hover{
                background-color:#ee3338;
                color:#fff;
            }
        .gl_select_pick{
            text-align:center;
            color:#777;
            font-weight:600;
            border-bottom:1px solid #f7f7f7;
        }
    .gl_select.active .gl_select_dropdown {
        height:auto;
        max-height:140px;
        padding:5px 0;
        padding-right:4px;
        font-size:1.4rem;
        border:1px solid #e9e9e9;
        filter:drop-shadow(4px 1px 10px #70707011);
    }



/* 공통 체크박스 스타일 */
[type="checkbox"] {
    accent-color:#ee3338;
}

/* 공통 텍스트 input 스타일 */
.input_txt_style{
    font-size:1.5rem;
    font-weight:500;
    padding:6px 10px;
    color:#555;
    border-radius:5px;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    border: 1px solid #e9e9e9;
    outline:none;
    background-color:#ffffff;
    transition: background-color 0.3s ease;
}
    .input_txt_style:focus{
        border:1px solid #777;
        outline:none;
        background-color:#ffffff;
    }
    .input_txt_style:focus::placeholder{
        color:#f0f0f0;
    }
    .input_txt_style::placeholder{
        color:#c9c9c9;
        font-size:1.5rem;
        font-weight:300;
    }



/* 공통 텍스트 스타일 */

.bold_t{
    font-weight:500 !important;
    color:#121212;
}





/* 공통 여백 */
.mt5{margin-top:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:20px;}.mb30{margin-bottom:30px;}

.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:20px;}.mt30{margin-top:30px;}


/* 글로벌 테이블 */

.gl_table_wrap{
    width:100%;
    overflow-x:scroll;
    border:1px solid #e9e9e9;
    border-radius:5px;
}
.gl_table_wrap::-webkit-scrollbar {
    width: 2px;
    height:2px;
}
.gl_table_wrap::-webkit-scrollbar-track {
    background: transparent; /* 트랙 색상 */
}
.gl_table_wrap::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* 슬라이더 색상 */
}
.gl_table_wrap::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 0, 0, 0.4); /* hover 시 살짝 보이게 */
}

.gl_table{
    border-collapse:collapse;
    border-spacing:0;
    min-width: 100%;
}
    .gl_table thead{
        border-bottom:1px solid #e9e9e9;
    }
    .gl_table th{
        background-color:#f8f8f8;
        padding:10px;
        text-align:left;
        font-size:1.4rem;
        font-weight:700;
        color:#333;
        white-space: nowrap;
        text-align:center;
        border-right:1px solid #e9e9e9;
    }
        .gl_table th:last-child{
            border-right:none;
        }
    .gl_table tbody{
        border-bottom:1px solid #e9e9e9;
    }
    .gl_table td{
        padding:10px;
        text-align:left;
        font-size:1.4rem;
        font-weight:500;
        color:#333;
        white-space: nowrap;
        border-right:1px solid #f0f0f0;
        text-align:center;
    }
        .gl_table td:last-child{
            border-right:none;
        }

    .gl_table tr:last-child th,
    .gl_table tr:last-child td{
        border-bottom:none;
    }

    .no_data_table_txt{
        text-align: center !important;
        font-size: 1.4rem !important;
        color: #ee3338 !important;
        line-height: 1.3 !important;
        font-weight: 500 !important;
        word-break: keep-all !important;
        padding: 20px 0 !important;
    }



/* 공통 애니메이션 */
.closeeyes{
    display:none !important;
}
.fold_contents{
    padding:0 !important;
    height:0 !important;
    overflow:hidden !important;
}











