.member_cert_content {
    padding: 10px 0 30px 0;
    background-color: #fff;
}

.order_main_contents{
    width:100%;
    padding-top:120px;/*topnavi*/
    padding-bottom:50px;/*bottomnavi*/
    height:auto;
    position:relative;
}


.order_info_list{
    padding:0 10px 0px 10px;
    width:100%;
    background-color:#ffffff;
    margin-bottom:10px;
}

.info_title{
    font-size:1.5rem;
    padding:8px 0;
    font-weight:600;
    color:#333;
    display:flex;
    justify-content: space-between;
}

.info_content {
    padding-bottom: 15px;
    overflow: hidden;
    max-height: 500px; /* Adjust as needed */
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.scrollable_content {
    height: 80px;
    border: 1px solid #e6e6e6;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */
    padding: 5px;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #555;
    background-color: #fcfcfc;
    border-radius: 5px;
    /* WebKit-specific scrollbar styling */
    &::-webkit-scrollbar {
        width: 4px; /* 스크롤바 너비 */
    }
    &::-webkit-scrollbar-track {
        background: #f5f5f5; /* 스크롤바 트랙 배경색 */
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
        background: #e7e7e7; /* 스크롤바 핸들 색상 */
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #999; /* 스크롤바 핸들 호버 색상 */
    }
}

.scrollable_content .scroller_inner {
    padding: 5px;
}

.agree_all_section {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 15px;
    display: flex;
    align-items: flex-start; /* 상단 정렬 */
    justify-content: center;
    font-size: 1.4rem;
    color: #333;
    font-weight: 500;
    line-height: 1.4;
}
    .underline{
        padding-bottom: 20px;
        border-bottom:1px solid #f1f1f1;
    }

.agree_all_section label {
    display: flex;
    align-items: flex-start; /* 라벨 텍스트 상단 정렬 */
    margin-top: 2px; /* 체크박스와 라벨의 시각적 정렬 조정 */
}

.agree_all_section input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #ee3338;
    margin-top: 7px;
}

.member_action_btn {
    display: block;
    width: calc(100% - 20px);
    padding: 12px 0;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    text-decoration: none;
    margin:0 auto;
}

.primary_btn {
    background-color: #ee3338;
    color: #fff;
    border: 1px solid #ee3338;
}

.primary_btn:hover {
    background-color: #d62d32;
}

.full_width_btn {
    margin-top: 20px;
}
