.main_contents {
    width: 100%;
    padding-top: 120px; /* topnavi */
    padding-bottom: 70px; /* bottomnavi */
    height: auto;
    position: relative;
}


.underline_category{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    padding: 5px 9px 5px 13px;
}
    .underline_item{
        font-size:1.4rem;
        font-weight:400;
        background-color:#fff;
        border-radius:5px;
        padding:2px 6px;
        margin:4px 3px;
        border:1px solid #e9e9e9;
        color:#999;
        cursor: pointer;
        position: relative;
    }

    .underline_item.active {
        color: #ee3338;
        font-weight: bold;
        border: 1px solid #ee3338;
    }


.box_tab{
    width:100%;
    height:auto;
    display:flex;
    justify-content:space-evenly;
}
    .tab{
        width:100%;
        height:auto;
        text-align:center;
        font-size:1.4rem;
        font-weight:500;
        color:#a7a7a7;
        padding:5px 10px;
        border-radius:5px 5px 0 0;
        border-top:1px solid #e9e9e9;
        border-left:1px solid #e9e9e9;
        border-right:1px solid #e9e9e9;
        border-bottom:1px solid #ee3338;
        cursor:pointer;
    }
    .tab.active{
        background-color:#ffffff;
        color:#ee3338;
        font-size:1.4rem;
        font-weight:600;
        border-radius:5px 0 0 0;
        border-top:1px solid #ee3338;
        border-left:1px solid #ee3338;
        border-right:none;
        border-bottom:1px solid #fff;
    }

    .underline_box{
        width:100%;
        height:auto;
        padding:15px 10px;
        align-items:center;
        background-color:#fff;
    }
        .item_box{
            width:100%;
            height:auto;
            align-items:center;
        }
        .date_box{
            font-size:1.5rem;
            font-weight:600;
            color:#fff;
            padding:5px 15px;
            background-color:#ee3338;
            border-radius:5px 5px 0 0;
        }


        .sub_group{
            display:flex;
            justify-content:center;
            align-items:center;
            margin-bottom:10px;
        }

        .sub_title{
            border-radius:5px;
            font-weight:400;
            font-size:1.5rem;
            color:#838383;
            background-color:#fff;
            margin-bottom:10px;
        }


        .table_select_box{
            width:130px;
            display:flex;
            align-items:center;
            justify-content:center;
            gap:7px;
            margin-top:10px;
            margin-bottom:5px;
            padding:5px 0;
            padding-left:10px;
            background-color:#f8f8f8;
            border-radius:5px;
            position:relative;
            margin-left:auto;
            border:1px solid #e9e9e9;
        }
            .table_select_box_text{
                display:inline-block;
                text-align:center;
                font-size:1.4rem;
                font-weight:500;
                color:#333;
            }
            .table_select_box img{
                width:20px;
                display:block;
                opacity:0.6;
            }
            .column_select_box{
                width:130px;
                position:absolute;
                top:calc(100% - 3px);
                right:-1px;
                background-color:#fff;
                padding:2px 10px;
                flex-direction:column;
                box-shadow:inset 0 0 1px 0 #a5a5a5;
                max-height: 0;
                opacity: 0;
                overflow: hidden;
                border-left:1px solid #e9e9e9;
                border-right:1px solid #e9e9e9;
                border-bottom:1px solid #e9e9e9;
                transition: max-height 0.1s ease-out, opacity 0.3s ease-out;
            }
            .table_select_box.active .column_select_box {
                max-height: 340px; /* 충분히 큰 값으로 설정 */
                opacity: 1;
                display: flex; /* active 클래스 추가 시 보임 */
                z-index: 100;
            }
                .column_item{
                    width:100%;
                    display:flex;
                    align-items:center;
                    justify-content:space-between;
                    padding:5px 5px;
                    border-bottom:1px solid #e9e9e9;
                }
                    .column_item:last-child{
                        border-bottom:none;
                    }
                    .column_item label{
                        width:100%;
                        text-align:right;
                    }

                .column_item_text{
                    font-size:1.4rem;
                    font-weight:500;
                    color:#333;
                    margin-left:5px;
                }


.hidden-column {
    display: none !important;
}



.input_text_style{
    width:100%;
    font-size:1.5rem;
    font-weight:500;
    padding:8px 10px;
    color:#555;
    border-radius:5px;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    border: 1px solid #e9e9e9;
    outline:none;
    background-color:#ffffff;
    transition: background-color 0.3s ease;
}
    .input_txt_style:focus{
        border:1px solid #777;
        outline:none;
        background-color:#ffffff;
    }
    .input_txt_style:focus::placeholder{
        color:#f0f0f0;
    }
    .input_txt_style::placeholder{
        color:#c9c9c9;
        font-size:1.5rem;
        font-weight:300;
    }


.write_box{
    padding:0 10px;
    max-width:440px;
    margin:0 auto;
}
    .write_list{
        width:100%;
        display:flex;
        align-items:center;
        justify-content:space-between;
        margin-bottom:10px;
    }
        .write_list label{
            min-width:100px;
            font-size:1.5rem;
            font-weight:500;
            color:#333;
            text-align:right;
            padding-right:20px;
        }
            .long_label{
                line-height:1.1;
            }
        .write_list input{
            width:100%;
            font-size:1.5rem;
            font-weight:500;
            color:#333;
    }
    .write_list input::placeholder{
        color:#c9c9c9;
        font-size:1.5rem;
        font-weight:300;
    }

    .radio_group {
        display: flex;
        width:100%;
        justify-content:space-between;
        gap:5px;
    }
    
    .profile_radio[type="radio"] {
        display: none;
    }
    
    .profile_label{
        width:50%;
        text-align:center !important;
        min-width:60px !important;
        padding: 4px 5px;
        padding-right:5px !important;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        font-size: 1.4rem;
        color: #555;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .profile_radio[type="radio"]:checked + label {
        background-color: #ee3338;
        border-color: #ee3338;
        color: #fff;
    }


    
    .radio_group_02 {
        display: flex;
        width:100%;
        justify-content:space-between;
        gap:5px;
    }
    .profile_radio_02[type="radio"] {
        display: none;
    }
    
    .profile_label_02{
        flex:1 1 auto !important; /* 사용 가능한 공간을 콘텐츠 크기에 맞춰 채움 */
        text-align:center !important;
        min-width:10px !important;
        padding: 4px 5px;
        padding-right:5px !important;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        font-size: 1.3rem !important;
        color: #555;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .profile_radio_02[type="radio"]:checked + label {
        background-color: #ee3338;
        border-color: #ee3338;
        color: #fff;
    }



    
    .radio_group_03 {
        display: flex;
        width:100%;
        flex-direction:column;
        align-items:flex-start;
        gap:5px;
    }
    .profile_radio_03[type="radio"] {
        display: none;
    }
    
    .profile_label_03{
        width:100%;
        text-align:left !important;
        min-width:10px !important;
        padding: 4px 5px;
        padding-right:5px !important;
        padding-left:10px !important;
        border: 1px solid #e9e9e9;
        border-radius: 5px;
        font-size: 1.3rem !important;
        color: #555;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .profile_radio_03[type="radio"]:checked + label {
        background-color: #ee3338;
        border-color: #ee3338;
        color: #fff;
    }


    .write_list08{
        align-items:flex-start;
        padding-top:10px;
    }